body {

	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
	font-family: sans-serif;
	background: #111;
}

h1 {
	position: absolute;
	color: #fff;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-top: -30rem;
	padding: 0;
	/* made text-shadow  white and blue */
	text-shadow: 0 0 10px rgb(111, 231, 222)
}

ul {
	position: relative;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: 2px solid #000;
	border-radius: 5px;
	padding: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
	width: 520px;
	background: linear-gradient(0deg, #000000, #0c0c0c);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

li {

	position: relative;
	list-style: none;
	text-align: center;
	margin: 10px;
}

label {

	position: relative;
}

label input {

	position: absolute;
}

.button {

	width: 200px;
	height: 60px;
	background: #101010;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #000;
	border-radius: 100px;
	cursor: pointer;
	transition: 0.5s;
}

.fa-brands {

	font-size: 30px;
	color: #222;
	transition: 0.5s;
	margin: 5px;
}

input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

input:checked~.button {
	background: #000;
	border: 3px solid #fff;
	box-shadow: 0 0 10px rgba(33, 156, 243, .5), 0 0 20px rgba(33, 156, 243, .5), 0 0 30px rgba(33, 156, 243, .5), inset 0 0 10px rgba(33, 156, 243, 1);
}

input:checked~.button .fa-brands {
	color: #fff;
	font-size: 40px;
	text-shadow: 0 0 10px rgba(33, 156, 243, 1), 0 0 20px rgba(33, 156, 243, 1), 0 0 30px(33, 156, 243, 1);
}